.class-question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.class-question-container .class-question-container__title {
  padding: 5px 0;
  margin: 10px 0 0 0;
}

.class-question-container .class-question-container__divider {
  height: 1px;
  background: #000;
  width: 50%;
  margin: 10px 0;
}

.class-question-container .class-question-container__quiz-buttons {
  display: flex;
  flex-direction: row;
}

.class-question-container .class-question-container__quiz-buttons-button {
  margin: 0 5px;
  border: 2px solid;
  width: 200px;
}

.class-question-container .class-question-container__quiz-buttons-button:hover {
  background: #fff;
}
